h1{
	border: 10px 5px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	letter-spacing: 1px;
}

div{
	margin: 5% auto;
	width: 70%;
	height: 30%;
	text-align: center;
	background-color: #4c8c1e;
	color: white;
	border-radius: 8px;
}

#in{
	padding: 10px 10px;
	width: 90%;
	border-radius: 8px;
}

#s{
	margin: 10px 10px;
	border: 10px 10px;
	font-size: 20px;
	width: 20%;
	border-radius: 8px;
	letter-spacing: 2px;
}

input:focus {
    outline:none;
}